.modal-demo .ui-modal {
    width: 37.5rem;
    /* for resize limits use min-width, min-height, max-width, max-height in css */
  }
  .modal-demo .modal-demo .ui-modal {
    z-index: 10;
  }
  /* colors */
  :root {
    --dt-color-primary: #5b9bd5;
  }
  /* for IE */
  .ui-modal-header {
    background-color: #5b9bd5;
  }

  .ui-modal-overlay{
      
  }